"*":
  aligner: {}
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
    preserveLastSearch: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    disabledPackages: [
      "pigments"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".gitignore"
    ]
    telemetryConsent: "no"
    themes: [
      "nucleus-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    fontFamily: "consolas"
    fontSize: 13
    preferredLineLength: 800
    softWrap: false
    softWrapAtPreferredLineLength: false
    tabLength: 4
  "exception-reporting":
    userId: "5c72fb9d-5608-4a40-9ab2-4b72f9423a6f"
  "gruvbox-plus-syntax":
    contrast: "Soft"
  "local-history":
    autoPurge: true
    fileSizeLimit: 100000000000000000
  pigments:
    markerType: "native-square-dot"
  "tabletopsimulator-lua":
    autocomplete:
      excludeLowerPriority: false
      parameterToDisplay: "both"
    editor:
      showFunctionName: true
    hacks:
      incrementals: "spaced"
    loadSave:
      convertUnicodeCharacters: true
      includeOtherFiles: true
      openOtherFiles: true
    style:
      guidPostfix: "_guid"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  wordcount:
    goal: 100
    hidechars: true
".coffee.source":
  editor:
    tabLength: 2
".plain.text":
  editor:
    preferredLineLength: 80
    softWrap: true
    softWrapAtPreferredLineLength: true
